
CMP23-Dataset/.DS_Store
CMP23-Dataset/.DS_Store
Intelligence/.DS_Store
CMP23-Dataset/.DS_Store
.DS_Store
Original Dataset/Unspecified/.DS_Store
Original Dataset/.DS_Store
Datasets/Original Dataset/data.npy
Datasets/Original Dataset/script.py
CMP23-Dataset/.DS_Store
CMP23-Dataset/Female/.DS_Store
CMP23-Dataset/Male/.DS_Store
Datasets/CMP23-Dataset/data.npy
Datasets/data_set.npy
Datasets/Feature-Datasets/fractal.npy
Datasets/SanityDataset/*
Datasets/Original Dataset/*
Datasets/CMP23-Dataset/*
Datasets/CMP2023/*
Datasets/CMP2023_Clipped/*
Datasets/ICDAR2013_Clipped/*
*.pth
